@charset "UTF-8";
body {
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #233323;
}

h1#titulo {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    
}

.basico {
    color: #1aff00;
}

.intermediario {
    color: #ece800;
}

.avancado {
    color: #ff0000;
}

.des {
    background-color: rgba(0, 209, 139, 0.596);
}